%step-base {
  width: 100%;
  height: 240px;
  background-position: center center;
  background-size: cover;
  border-radius: 4px;
}

.step-box {
  @extend %step-base;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.03);
  }

  .step-wrapper {
    @include column-flexbox(between, start);
    height: 100%;
    padding: 64px 0 16px 20px;
  }

  span {
    font-size: 10px;
    letter-spacing: 2px;
  }

  .step-text {
    width: 250px;
  }

  .step-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0;
  }

  .step-content {
    font-family: $font-sub;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
  }

  @include responsive(T) {
    height: 400px;

    .step-wrapper {
      padding-top: 205px;
    }

    .step-title,
    .step-content {
      width: 196px;
    }
  }

  @include responsive(D) {
    .step-title,
    .step-content {
      width: 250px;
    }
  }
}
