.footer {
  padding: 19px 0 22px;
  text-align: center;

  strong {
    display: block;
    margin-bottom: 13px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    color: $point;
  }

  h2 {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    color: $dark;
  }

  .footer-list {
    @include flexbox;
    flex-wrap: wrap;
    max-width: 280px;
    margin: 1px auto 6px;
  }

  .footer-list-item {
    margin-right: 16px;
    font-family: $font-sub;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0;
    color: #999;

    &:hover {
      text-decoration: underline;
    }
  }

  span {
    @include flexbox;
    padding: 14px 0 7px;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #ccc;
  }

  .designer {
    width: 110px;
    height: 24px;
    margin: 0 auto;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  @include responsive(T) {
    padding: 40px 0 20px;
    text-align: left;

    .footer-wrapper {
      @include flexbox(between, start);
      padding: 0 20px;
    }

    h2 {
      margin-bottom: 0;
    }

    .menu-group {
      h2 {
        margin-bottom: 11px;
      }
    }

    .footer-list {
      align-items: flex-start;
      flex-direction: column;

      .footer-list-item {
        margin-right: 0;
      }
    }

    span {
      justify-content: flex-end;
      padding: 0 0 7px;
    }
  }

  @include responsive(D) {
    padding: 40px 0 36px;
  }
}
